# LA Crime Analysis

In [1]:
%matplotlib notebook

import pandas as pd
import matplotlib.pyplot as plt

pd.options.display.max_columns = None

Load dataset.

In [2]:
crime_file = 'data/crime-data-from-2010-to-present.csv'
crime_data = pd.read_csv(crime_file)

Examine the dataset.

In [3]:
crime_data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."

In [4]:
print(f'There are {crime_data.shape[0]} data points and {crime_data.shape[1]} features.')
print('Features:')
for i, feature in enumerate(crime_data.columns.values):
    print(f'{i}: {feature}')
crime_data.describe()

There are 1993259 data points and 26 features.
Features:
0: DR Number
1: Date Reported
2: Date Occurred
3: Time Occurred
4: Area ID
5: Area Name
6: Reporting District
7: Crime Code
8: Crime Code Description
9: MO Codes
10: Victim Age
11: Victim Sex
12: Victim Descent
13: Premise Code
14: Premise Description
15: Weapon Used Code
16: Weapon Description
17: Status Code
18: Status Description
19: Crime Code 1
20: Crime Code 2
21: Crime Code 3
22: Crime Code 4
23: Address
24: Cross Street
25: Location

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code,Weapon Used Code,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4
count,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993209e+06,667618.000000,1.993250e+06,130161.000000,3235.000000,96.000000
mean,1.452681e+08,1.361522e+03,1.110423e+01,1.156819e+03,5.069209e+02,3.178082e+01,3.111638e+02,371.145126,5.067552e+02,950.934166,971.498300,974.218750
std,2.759142e+07,6.467373e+02,6.007329e+00,6.007339e+02,2.104709e+02,2.060810e+01,2.110329e+02,113.643154,2.103421e+02,125.442245,87.084159,84.043623
min,2.100000e+02,1.000000e+00,1.000000e+00,1.000000e+02,1.100000e+02,-9.000000e+00,1.010000e+02,101.000000,1.100000e+02,210.000000,93.000000,421.000000
25%,1.212041e+08,9.300000e+02,6.000000e+00,6.440000e+02,3.300000e+02,2.000000e+01,1.020000e+02,400.000000,3.300000e+02,998.000000,998.000000,998.000000
50%,1.502066e+08,1.430000e+03,1.200000e+01,1.203000e+03,4.410000e+02,3.200000e+01,2.100000e+02,400.000000,4.410000e+02,998.000000,998.000000,998.000000
75%,1.707102e+08,1.900000e+03,1.600000e+01,1.672000e+03,6.260000e+02,4.600000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.000000
max,9.102204e+08,2.359000e+03,2.100000e+01,2.199000e+03,9.560000e+02,1.180000e+02,9.710000e+02,516.000000,9.990000e+02,999.000000,999.000000,999.000000

In [5]:
crime_data.isna().sum()

DR Number                       0
Date Reported                   0
Date Occurred                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description          0
MO Codes                   215872
Victim Age                      0
Victim Sex                 185960
Victim Descent             186006
Premise Code                   50
Premise Description           135
Weapon Used Code          1325641
Weapon Description        1325642
Status Code                     3
Status Description              0
Crime Code 1                    9
Crime Code 2              1863098
Crime Code 3              1990024
Crime Code 4              1993163
Address                         0
Cross Street              1659507
Location                        0
dtype: int64

In [6]:
drop_col = ['Crime Code 2', 'Crime Code 3', 'Crime Code 4', 'Cross Street']
crime_data.drop(drop_col, axis=1, inplace=True)
print(crime_data.columns.values)

['DR Number' 'Date Reported' 'Date Occurred' 'Time Occurred' 'Area ID'
 'Area Name' 'Reporting District' 'Crime Code' 'Crime Code Description'
 'MO Codes' 'Victim Age' 'Victim Sex' 'Victim Descent' 'Premise Code'
 'Premise Description' 'Weapon Used Code' 'Weapon Description'
 'Status Code' 'Status Description' 'Crime Code 1' 'Address' 'Location ']

In [7]:
def conv_loc_to_long(loc):
    loc = eval(loc)
    return float(loc['latitude']), float(loc['longitude'])
new_df = pd.DataFrame(crime_data["Location "].apply(conv_loc_to_long).tolist(), columns=['latitude', 'longitude'])
print('Crime data shape', crime_data.shape)
print('New df shape', new_df.shape)

Crime data shape (1993259, 22)
New df shape (1993259, 2)

In [11]:
crime_data = pd.concat([crime_data, new_df], axis=1)
crime_data.head(5)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Address,Location,latitude,longitude
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,VAN NESS,"{'latitude': '34.0454', 'needs_recoding': Fals...",34.0454,-118.3157
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,88TH,"{'latitude': '33.9572', 'needs_recoding': Fals...",33.9572,-118.2717
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,YORK,"{'latitude': '34.1211', 'needs_recoding': Fals...",34.1211,-118.2048
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,EL DORADO,"{'latitude': '34.241', 'needs_recoding': False...",34.2410,-118.3987
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,GLENOAKS,"{'latitude': '34.3147', 'needs_recoding': Fals...",34.3147,-118.4589

In [24]:
import numpy as np
crime_data['Victim Sex'].replace(np.nan, 'Unknown', inplace=True)
crime_data['Victim Descent'].replace(np.nan, 'Unknown', inplace=True)
crime_data['MO Codes'].replace(np.nan, '0000', inplace=True)
crime_data.isna().sum()

DR Number                       0
Date Reported                   0
Date Occurred                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description          0
MO Codes                        0
Victim Age                      0
Victim Sex                      0
Victim Descent                  0
Premise Code                   50
Premise Description           135
Weapon Used Code          1325641
Weapon Description        1325642
Status Code                     3
Status Description              0
Crime Code 1                    9
Address                         0
Location                        0
latitude                        0
longitude                       0
dtype: int64

In [25]:
crime_data.to_csv('data/la_crime_clean.csv')

In [27]:
crime_data["Crime Code Description"].value_counts()

BATTERY - SIMPLE ASSAULT                                    180434
BURGLARY FROM VEHICLE                                       153451
VEHICLE - STOLEN                                            151622
THEFT PLAIN - PETTY ($950 & UNDER)                          141489
BURGLARY                                                    140926
THEFT OF IDENTITY                                           120835
INTIMATE PARTNER - SIMPLE ASSAULT                           107900
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     102589
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               86829
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     86440
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)              82791
ROBBERY                                                      79392
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     70081
CRIMINAL THREATS - NO WEAPON DISPLAYED                       53959
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     45493
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)             29368
DOCUMENT FORGERY / STOLEN FELONY                             21940
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD                      19988
TRESPASSING                                                  19965
OTHER MISCELLANEOUS CRIME                                    19751
VIOLATION OF COURT ORDER                                     19097
VIOLATION OF RESTRAINING ORDER                               17948
THEFT, PERSON                                                13884
BRANDISH WEAPON                                              13863
INTIMATE PARTNER - AGGRAVATED ASSAULT                        13736
BIKE - STOLEN                                                12996
BURGLARY, ATTEMPTED                                          12010
ATTEMPTED ROBBERY                                            11361
BATTERY WITH SEXUAL CONTACT                                  10529
RAPE, FORCIBLE                                                9583
                                                             ...
PURSE SNATCHING - ATTEMPT                                       46
DRUGS, TO A MINOR                                               46
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                    43
LYNCHING                                                        43
DISRUPT SCHOOL                                                  41
BIKE - ATTEMPTED STOLEN                                         37
TELEPHONE PROPERTY - DAMAGE                                     35
DRUNK ROLL                                                      34
BRIBERY                                                         30
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        25
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)        24
THEFT, COIN MACHINE - ATTEMPT                                   24
PETTY THEFT - AUTO REPAIR                                       24
LYNCHING - ATTEMPTED                                            23
PICKPOCKET, ATTEMPT                                             22
TILL TAP - GRAND THEFT ($950.01 & OVER)                         20
FAILURE TO DISPERSE                                             20
INCITING A RIOT                                                 14
GRAND THEFT / AUTO REPAIR                                       14
BIGAMY                                                          13
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                     9
DISHONEST EMPLOYEE ATTEMPTED THEFT                               9
ABORTION/ILLEGAL                                                 7
MANSLAUGHTER, NEGLIGENT                                          5
TILL TAP - ATTEMPT                                               4
BLOCKING DOOR INDUCTION CENTER                                   3
FIREARMS RESTRAINING ORDER (FIREARMS RO)                         2
TRAIN WRECKING                                                   2
FIREARMS TEMPORARY RESTRAINING ORDER (TEMP FIREARMS RO)          1
DRUNK ROLL - ATTEMPT                                             1
Name: Crime Code Description, Length: 140, dtype: int64

# LA Arrest Analysis

In [ ]:
arrest_file = 'data/arrest-data-from-2010-to-present.csv'
arrest_data = pd.read_csv(arrest_file)

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2)
arrest_data['Sex Code'].value_counts().plot(kind='bar', ax=ax1)
arrest_data['Descent Code'].value_counts().plot(kind='bar', ax=ax2)
plt.show()

In [ ]:
crime_data